streamlit
fastapi
python-dotenv
python-git
requests
uvicorn
pydantic
langchain-pinecone 
pinecone-notebooks
langchain-neo4j
langgraph-checkpoint-sqlite
langchain-core
neo4j
pinecone
langchain-mistralai
langchain
langchain-huggingface
langchain-cohere
langchain-community
tree-sitter
tree-sitter-python
langgraph
